@font-face {
    font-family: 'Indosat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('IndosatRegular-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Indosat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('IndosatMedium-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Indosat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('IndosatBold-Bold.woff2') format('woff2');
}